<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>WebPortal.com</title>
  <link rel="icon" th:href="@{/img/common/favicon.ico}" href="../../static/img/common/favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>

<body>
  <header>
<a href="#" th:href="@{/}">
  <img class="header-logo-main" th:src="@{/img/icon3.png}"
      src="../../static/img/icon3.png" />
  <strong>PLUS</strong>
</a>
<a href="#" th:href="@{/studentlogout}">
  <img class="header-logo-exit" th:src="@{/img/common/exit.svg}"
      src="../../static/img/common/exit.svg" />
  ログアウト
</a>
  </header>
  <main>
    <div class="card text-center">
      <div class="card-content">
        <h1>生徒新規追加</h1>
        <div>
          <p class="error-message" th:if="${errormessage}" th:text="${errormessage}">ログインエラーメッセージ</p>

          <form method="post" th:action="@{/studentadd}">
            <label for="course">コースID</label>
            <input id="course" type="text" name="course">
            <label for="user_id">ユーザID(メールアドレス)</label>
            <input id="user_id" type="email" name="user_id" placeholder="xxxxxxx@xxx.xxx" />
            <label for="password">パスワード</label>
            <input id="password" type="password" name="password" placeholder="xxxxxxxx" />
            <label for="password2">パスワード（確認:同じのを入力）</label>
            <input id="password2" type="password" name="password2" placeholder="xxxxxxxx" />
            <label for="hyoji">表示名</label>
            <input id ="hyoji" type="text" name="hyoji" />
            <button type="submit">登録</button>
          </form>
        </div>
      </div>
    </div>
    <!-- .card -->
  </main>
  <footer>&copy; plus.com</footer>
</body>

</html>
