<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WebPortal.com - 講師用分析ダッシュボード</title>
    <link
      rel="icon"
      th:href="@{/img/common/favicon2.ico}"
      href="../../static/img/common/favicon2.ico"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    <link rel="stylesheet" th:href="@{/css/report.css}" href="../../static/css/report.css" />
    <link rel="stylesheet" th:href="@{/css/report.css}" href="../../static/css/bunseki.css" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  </head>
  <body th:style="'background-image: url(' + @{/img/common/images.png} + ');'">
    <div>
      <header>
    <a href="#" th:href="@{/}"><img class="header-logo-main" th:src="@{/img/icon3.png}"
        src="../../static/img/icon3.png" /><strong> PLUS</strong></a>
    <a href="#" th:href="@{/logout}"><img class="header-logo-exit" th:src="@{/img/common/exit.svg}"
        src="../../static/img/common/exit.svg" />ログアウト </a>
  </header>

      <main>
        <h1 class="page-title">情報収集画面</h1>
        <div class="card">
          <div class="card-content">
            
            <div class="dashboard-grid">
              <div class="student-info-box">
                <p class="fw-bold">選択中の生徒の情報</p>
                <p th:text="${selectedStudentName}">生徒名</p>
              </div>

              <div class="chart-container-box">
                <canvas id="reasonChart"></canvas>
              </div>
            </div>

            <div class="student-list-container">
              <div class="status-dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
              </div>

              <div class="student-table-wrapper">
                <table class="dashboard-table">
                  <thead>
                    <tr>
                      <th style="width: 28%;">生徒名</th>
                      <th style="width: 72%;">各生徒の情報（「ミスの原因の割合」と「入力状況」）</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </main>
    </div>

    <script th:inline="javascript">
      /*
      const mistakeData = [
        /*[[${carelessCount}]]*/ 40,
        /*[[${lackOfUnderstandingCount}]]*/ 30,
        /*[[${lackOfTimeCount}]]*/ 20,
        /*[[${otherCount}]]*/ 10
      /*];*/
      

      const ctx = document.getElementById('reasonChart').getContext('2d');
      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['ケアレスミス', '理解不足', '時間不足', 'その他'],
          datasets: [{
            data: [40, 30, 20, 10], 
            backgroundColor: [
              '#ff6384',
              '#36a2eb',
              '#ffce56',
              '#cc65fe'
            ],
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false 
            },
            title: {
              display: true,
              text: '間違えた原因'
            }
          }
        }
      });
    </script>
  </body>
</html>